<!--views\entidades\index.ejs-->
<a href="/admin">Home</a>

<h2>Search Entidades</h2>
<form action="/entidades" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>" />
  <button type="submit">Search</button>
</form>
<div>
  <!--Exibir entidadde-->
  <% entidades.forEach(entidade => { %>
    <div><%= entidade.name %></div>
  <a href="/entidades/<%= entidade.id %>">View</a>
  <a href="/entidades/<%= entidade.id %>/edit">Edit</a>
  <img height="150" width="100" src="<%= entidade.coverImagePath %>" />
  <% include("../partials/deleteForm", { url: `/entidades/${entidade._id}` }) %>
  <% }) %>
</div>

