<a href="/admin">Home</a>

<h2>Procurar Doacao</h2>
<form action="/doacoes" method="GET">
  <div>
    <label>User</label>
    <input type="text" name="user" value="<%= searchOptions.user %>">
  </div>

  <div>
    <label>Entidade</label>
    <input type="text" name="entidade" value="<%= searchOptions.entidade %>">
  </div>

  <div>
    <label>date After</label>
    <input type="date" name="dataAfter" value="<%= searchOptions.dataAfter %>">
  </div>

  <div>
    <label>date Before</label>
    <input type="date" name="dataBefore" value="<%= searchOptions.dataBefore %>">
  </div>
  
  <button type="submit">Search</button>
</form>

<!-- Exibir cada doacao-->

  <% doacoes.forEach (doacao => { %>
    <div class="doacao-item">
      <p>Doador: <%= doacao.user.name %></p>
      <p>Entidade: <%= doacao.entidade.name %></p>
      <p>Data: <%= doacao.data %></p>
      <p>Quantidade: <%= doacao.preco %></p>
      <a href="/doacoes/<%= doacao.id %>">Detalhes</a>
    </div>

  <% }) %>
