<!--views\users\show.ejs-->
<a href="/admin">Home</a>
<h2>Detalhes Utilizador</h2>

<div>Nome: <%= user.name %></div>
<div>Email: <%= user.email %></div>
<div>Role: <%= user.role %></div>
<div>Points: <%= user.points %></div>

<a href="/users/<%= user.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/users/${user.id}` }) %>
<% if (doacoesByUser.length > 0) { %>

<h2>Doacoes por Utilizador</h2>

<% doacoesByUser.forEach(doacao => { %>
<img height="150" width="100" src="<%= doacao.logoImagePath %>" />
<% }) %> <% } %>
